/* You can add global styles to this file, and also import other style files */

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
}


body {
  font-size: 14px;
  font-family: 'Work Sans', sans-serif;
  color: #f1f1f1;
  padding: 0;
  margin: 0;
}


.navbar {
  z-index: 100;
  background-color: rgba(255, 255, 255, .3);
  backdrop-filter: blur(12px);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-inline: 4rem;
  transition: 350ms cubic-bezier(0.65, 0, 0.35, 1);
}

.navbar.scrolled {
  background-color: rgba(0, 0, 0, .4);
}

.navbar.scrolled .nav-link, .navbar.scrolled #logo {
  color: #f1f1f1;
}

.nav-list {
  display: flex;
  gap: 2rem;
  list-style: none;
}

.nav-link, #logo {
  color: #111;
  font-size: 1.25rem;
  font-family: 'Abel', sans-serif;
  text-transform: uppercase;
  transition: 350ms cubic-bezier(0.65, 0, 0.35, 1);
}

